.auth {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-position: center;

    &__content {
        position: absolute;
        top: calc(50% - 200px);
        left: calc(50% - 250px);
        width: 500px;
        height: 400px;
        background-color: rgba($white, .4);
    }
}
