.auth-form {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 300px;
    height: 300px;
    background-color: $lavender;
    text-align: center;

    &__label {
        font-size: 34px;
        text-align: center;
    }

    &__input {
        margin: 20px 0;
    }
}
