.auth-menu {

    position: absolute;
    left: 25px;
    top: 25px;
    width: 150px;
    height: auto;

    &__item {
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        -webkit-transition: width 1s;
        transition: width 1s;
        cursor: pointer;

        &--active {
            background-color: $lavender;
        }
    }

}
